# Dependências
node_modules/
.pnp
.pnp.js

# Produção / Builds
dist/
build/
.vercel

# Variáveis de Ambiente (SEGURANÇA!)
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
.DS_Store